<!DOCTYPE html>
<!-- saved from url=(0038)http://lanshuo99.cn/webapp/m-list.aspx -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>得时靓号网</title>
    <meta name="Keywords" content="手机靓号3-8连">
    <meta name="Description" content="">
    <link rel="stylesheet" href="./得时靓号网_files/iconfont.css">
    <link rel="stylesheet" href="./得时靓号网_files/m.css">
    <link rel="stylesheet" href="./得时靓号网_files/swiper.css">
    <style type="text/css">

        .slide-box {
            position: relative;
            overflow: hidden;
            z-index: 1100;
        }

            .slide-box img, .slide-box li {
                width: 100%;
                height: 150px;
            }

        .dottedNav {
            width: 100%;
            height: 18px;
            line-height: 18px;
            text-align: center;
            position: absolute;
            z-index: 110;
            left: 0;
            bottom: 15px;
        }

        .slide-box2 {
            position: relative;
            overflow: hidden;
            z-index: 1100;
        }

            .slide-box2 img, .slide-box2 li {
            }
    </style>
    <script type="text/javascript" src="./得时靓号网_files/ext.lanshuo99.cn.js"></script>
</head>

<body class="page">
    <!--轮播图-->

    <div class="m2-top"><a class="btn" href="http://lanshuo99.cn/webapp/info2.aspx?id=81">活动攻略</a><a class="btn" href="http://lanshuo99.cn/webapp/dingdanchaxun2.aspx">订单查询</a></div>
    <div class="slide-box swiper-container-horizontal">
        <ul class="swiper-wrapper" style="transform: translate3d(-3806px, 0px, 0px); transition-duration: 0ms;">
            <li class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="width: 1903px;">
                <a href="https://user.qzone.qq.com/519865481/infocenter"><img src="./得时靓号网_files/202043125313_2020318105517_封面2.jpg" alt=""></a>
            </li>

            <li class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 1903px;">
                <a href="https://user.qzone.qq.com/519865481/infocenter"><img src="./得时靓号网_files/202043125313_2020318105517_封面2.jpg" alt=""></a>
            </li>

            <li class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 1903px;">
                <a href="https://user.qzone.qq.com/519865481/infocenter"><img src="./得时靓号网_files/202043125313_2020318105517_封面2.jpg" alt=""></a>
            </li>
        </ul>
        <p class="dottedNav swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></p>
    </div>
    <div class="sale-log">
        <div>
            <div class="sale-log-left">交易动态</div>
            <div class="sale-log-right">
                <!---->
                <div class="slide-box3 swiper-container-vertical">
                    <ul class="swiper-wrapper" style="transform: translate3d(0px, -360px, 0px); transition-duration: 0ms;">
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="9" style="height: 40px;">165****8765<span class="name">孔**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="0" style="height: 40px;">167****6666<span class="name">林**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="1" style="height: 40px;">162****1212<span class="name">陈**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="2" style="height: 40px;">191****0668<span class="name">李**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="3" style="height: 40px;">170****5550<span class="name">方**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="4" style="height: 40px;">165****7733<span class="name">潘**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="5" style="height: 40px;">165****1119<span class="name">王**</span></li>
                        <li class="swiper-slide" data-swiper-slide-index="6" style="height: 40px;">166****1230<span class="name">王**</span></li>
                        <li class="swiper-slide swiper-slide-prev" data-swiper-slide-index="7" style="height: 40px;">167****5588<span class="name">赵**</span></li>
                        <li class="swiper-slide swiper-slide-active" data-swiper-slide-index="8" style="height: 40px;">170****1999<span class="name">陈**</span></li>
                        <li class="swiper-slide swiper-slide-next" data-swiper-slide-index="9" style="height: 40px;">165****8765<span class="name">孔**</span></li>
                        <li class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="height: 40px;">167****6666<span class="name">林**</span></li>
                    </ul>
                </div>
                <!---->
            </div>
        </div>
    </div>

    <!--轮播图end-->
    <!--icon menu-->
    <!--icon menu end-->
    <!--header begin-->
    <div class="box search-section-m2">

        <div class="top-bar clearfix">
            <div class="col100">
                <span class="so-kw-type ">模糊</span>
                <span class="so-kw-input">
                    <input type="tel" id="kw" placeholder="输入关键字">
                    <span class="so-kw-cb-box"><input type="checkbox" value="" class="so-kw-cb" id="cbIsEnd"><label for="cbIsEnd">尾号</label></span>
                </span>
                <div class="searchNum-s" id="searchNum" style="display:none;">
                    <input type="tel" maxlength="1" value="1" readonly="readonly">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                    <input type="tel" maxlength="1" value="">
                </div>
                <span class="so-kw-btn" id="so-kw-btn">搜索</span>
            </div>
        </div>

        <div class="filter-bar clearfix">
            <div class="filter-bar-city">归属地</div>
            <div class="filter-bar-company">运营商</div>
            <div class="filter-bar-featrue">规律</div>
            <div class="filter-bar-more">筛选</div>
        </div>
        <!--new filter pop-->
        <div class="filter-pop filter-pop-m2  hide">
            <!--city begin-->
            <div class="city hide">
                <div class="left">
                    <ul>
                        <li data-provinceid="0" class="cur">全部</li>

                        <li data-provinceid="300">河北</li>

                        <li data-provinceid="200">天津</li>

                        <li data-provinceid="1900">广东</li>

                        <li data-provinceid="800">黑龙江</li>

                        <li data-provinceid="1500">山东</li>

                        <li data-provinceid="1000">江苏</li>

                        <li data-provinceid="100">北京</li>

                        <li data-provinceid="1600">河南</li>

                        <li data-provinceid="600">辽宁</li>

                        <li data-provinceid="1200">安徽</li>

                        <li data-provinceid="2200">四川</li>

                        <li data-provinceid="700">吉林</li>

                        <li data-provinceid="900">上海</li>

                        <li data-provinceid="1300">福建</li>

                        <li data-provinceid="1700">湖北</li>

                        <li data-provinceid="500">内蒙古</li>

                        <li data-provinceid="2600">陕西</li>

                        <li data-provinceid="1100">浙江</li>

                        <li data-provinceid="400">山西</li>

                        <li data-provinceid="1800">湖南</li>

                        <li data-provinceid="3100">重庆</li>

                        <li data-provinceid="2000">广西</li>

                        <li data-provinceid="1400">江西</li>

                        <li data-provinceid="2300">贵州</li>

                        <li data-provinceid="2100">海南</li>

                        <li data-provinceid="2700">甘肃</li>

                        <li data-provinceid="2900">宁夏</li>

                        <li data-provinceid="2400">云南</li>

                        <li data-provinceid="2800">青海</li>

                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li data-cityid="0" data-provinceid="0" data-provincename="">全部</li>

                        <li class="hide" data-cityid="201" data-cityname="天津" data-provinceid="200" data-provincename="天津">天津</li>

                        <li class="hide" data-cityid="101" data-cityname="北京" data-provinceid="100" data-provincename="北京">北京</li>

                        <li class="hide" data-cityid="301" data-cityname="石家庄" data-provinceid="300" data-provincename="河北">石家庄</li>

                        <li class="hide" data-cityid="901" data-cityname="上海" data-provinceid="900" data-provincename="上海">上海</li>

                        <li class="hide" data-cityid="801" data-cityname="哈尔滨" data-provinceid="800" data-provincename="黑龙江">哈尔滨</li>

                        <li class="hide" data-cityid="302" data-cityname="唐山" data-provinceid="300" data-provincename="河北">唐山</li>

                        <li class="hide" data-cityid="1903" data-cityname="深圳" data-provinceid="1900" data-provincename="广东">深圳</li>

                        <li class="hide" data-cityid="303" data-cityname="秦皇岛" data-provinceid="300" data-provincename="河北">秦皇岛</li>

                        <li class="hide" data-cityid="306" data-cityname="保定" data-provinceid="300" data-provincename="河北">保定</li>

                        <li class="hide" data-cityid="2205" data-cityname="成都" data-provinceid="2200" data-provincename="四川">成都</li>

                        <li class="hide" data-cityid="1901" data-cityname="广州" data-provinceid="1900" data-provincename="广东">广州</li>

                        <li class="hide" data-cityid="1001" data-cityname="南京" data-provinceid="1000" data-provincename="江苏">南京</li>

                        <li class="hide" data-cityid="3101" data-cityname="重庆" data-provinceid="3100" data-provincename="重庆">重庆</li>

                        <li class="hide" data-cityid="1202" data-cityname="芜湖" data-provinceid="1200" data-provincename="安徽">芜湖</li>

                        <li class="hide" data-cityid="1701" data-cityname="武汉" data-provinceid="1700" data-provincename="湖北">武汉</li>

                        <li class="hide" data-cityid="701" data-cityname="长春" data-provinceid="700" data-provincename="吉林">长春</li>

                        <li class="hide" data-cityid="309" data-cityname="沧州" data-provinceid="300" data-provincename="河北">沧州</li>

                        <li class="hide" data-cityid="305" data-cityname="邢台" data-provinceid="300" data-provincename="河北">邢台</li>

                        <li class="hide" data-cityid="304" data-cityname="邯郸" data-provinceid="300" data-provincename="河北">邯郸</li>

                        <li class="hide" data-cityid="1601" data-cityname="郑州" data-provinceid="1600" data-provincename="河南">郑州</li>

                        <li class="hide" data-cityid="1501" data-cityname="济南" data-provinceid="1500" data-provincename="山东">济南</li>

                        <li class="hide" data-cityid="307" data-cityname="张家口" data-provinceid="300" data-provincename="河北">张家口</li>

                        <li class="hide" data-cityid="1012" data-cityname="泰州" data-provinceid="1000" data-provincename="江苏">泰州</li>

                        <li class="hide" data-cityid="1801" data-cityname="长沙" data-provinceid="1800" data-provincename="湖南">长沙</li>

                        <li class="hide" data-cityid="1516" data-cityname="临沂" data-provinceid="1500" data-provincename="山东">临沂</li>

                        <li class="hide" data-cityid="310" data-cityname="廊坊" data-provinceid="300" data-provincename="河北">廊坊</li>

                        <li class="hide" data-cityid="1515" data-cityname="聊城" data-provinceid="1500" data-provincename="山东">聊城</li>

                        <li class="hide" data-cityid="308" data-cityname="承德" data-provinceid="300" data-provincename="河北">承德</li>

                        <li class="hide" data-cityid="1005" data-cityname="苏州" data-provinceid="1000" data-provincename="江苏">苏州</li>

                        <li class="hide" data-cityid="2601" data-cityname="西安" data-provinceid="2600" data-provincename="陕西">西安</li>

                        <li class="hide" data-cityid="1918" data-cityname="东莞" data-provinceid="1900" data-provincename="广东">东莞</li>

                        <li class="hide" data-cityid="1201" data-cityname="合肥" data-provinceid="1200" data-provincename="安徽">合肥</li>

                        <li class="hide" data-cityid="401" data-cityname="太原" data-provinceid="400" data-provincename="山西">太原</li>

                        <li class="hide" data-cityid="602" data-cityname="大连" data-provinceid="600" data-provincename="辽宁">大连</li>

                        <li class="hide" data-cityid="312" data-cityname="衡水" data-provinceid="300" data-provincename="河北">衡水</li>

                        <li class="hide" data-cityid="1301" data-cityname="福州" data-provinceid="1300" data-provincename="福建">福州</li>

                        <li class="hide" data-cityid="601" data-cityname="沈阳" data-provinceid="600" data-provincename="辽宁">沈阳</li>

                        <li class="hide" data-cityid="2101" data-cityname="海口" data-provinceid="2100" data-provincename="海南">海口</li>

                        <li class="hide" data-cityid="1517" data-cityname="菏泽" data-provinceid="1500" data-provincename="山东">菏泽</li>

                        <li class="hide" data-cityid="706" data-cityname="松原" data-provinceid="700" data-provincename="吉林">松原</li>

                        <li class="hide" data-cityid="1302" data-cityname="厦门" data-provinceid="1300" data-provincename="福建">厦门</li>

                        <li class="hide" data-cityid="1614" data-cityname="周口" data-provinceid="1600" data-provincename="河南">周口</li>

                        <li class="hide" data-cityid="808" data-cityname="佳木斯" data-provinceid="800" data-provincename="黑龙江">佳木斯</li>

                        <li class="hide" data-cityid="703" data-cityname="四平" data-provinceid="700" data-provincename="吉林">四平</li>

                        <li class="hide" data-cityid="2301" data-cityname="贵阳" data-provinceid="2300" data-provincename="贵州">贵阳</li>

                        <li class="hide" data-cityid="811" data-cityname="黑河" data-provinceid="800" data-provincename="黑龙江">黑河</li>

                        <li class="hide" data-cityid="810" data-cityname="牡丹江" data-provinceid="800" data-provincename="黑龙江">牡丹江</li>

                        <li class="hide" data-cityid="502" data-cityname="包头" data-provinceid="500" data-provincename="内蒙古">包头</li>

                        <li class="hide" data-cityid="1401" data-cityname="南昌" data-provinceid="1400" data-provincename="江西">南昌</li>

                        <li class="hide" data-cityid="813" data-cityname="大兴安岭" data-provinceid="800" data-provincename="黑龙江">大兴安岭</li>

                        <li class="hide" data-cityid="812" data-cityname="绥化" data-provinceid="800" data-provincename="黑龙江">绥化</li>

                        <li class="hide" data-cityid="2001" data-cityname="南宁" data-provinceid="2000" data-provincename="广西">南宁</li>

                        <li class="hide" data-cityid="1105" data-cityname="湖州" data-provinceid="1100" data-provincename="浙江">湖州</li>

                        <li class="hide" data-cityid="507" data-cityname="通辽" data-provinceid="500" data-provincename="内蒙古">通辽</li>

                        <li class="hide" data-cityid="614" data-cityname="葫芦岛" data-provinceid="600" data-provincename="辽宁">葫芦岛</li>

                        <li class="hide" data-cityid="501" data-cityname="呼和浩特" data-provinceid="500" data-provincename="内蒙古">呼和浩特</li>

                        <li class="hide" data-cityid="1211" data-cityname="阜阳" data-provinceid="1200" data-provincename="安徽">阜阳</li>

                        <li class="hide" data-cityid="1906" data-cityname="佛山" data-provinceid="1900" data-provincename="广东">佛山</li>

                        <li class="hide" data-cityid="1508" data-cityname="济宁" data-provinceid="1500" data-provincename="山东">济宁</li>

                        <li class="hide" data-cityid="1006" data-cityname="南通" data-provinceid="1000" data-provincename="江苏">南通</li>

                        <li class="hide" data-cityid="1002" data-cityname="无锡" data-provinceid="1000" data-provincename="江苏">无锡</li>

                        <li class="hide" data-cityid="1611" data-cityname="漯河" data-provinceid="1600" data-provincename="河南">漯河</li>

                        <li class="hide" data-cityid="1909" data-cityname="茂名" data-provinceid="1900" data-provincename="广东">茂名</li>

                        <li class="hide" data-cityid="2901" data-cityname="银川" data-provinceid="2900" data-provincename="宁夏">银川</li>

                        <li class="hide" data-cityid="2003" data-cityname="桂林" data-provinceid="2000" data-provincename="广西">桂林</li>

                        <li class="hide" data-cityid="1615" data-cityname="驻马店" data-provinceid="1600" data-provincename="河南">驻马店</li>

                        <li class="hide" data-cityid="1101" data-cityname="杭州" data-provinceid="1100" data-provincename="浙江">杭州</li>

                        <li class="hide" data-cityid="1919" data-cityname="中山" data-provinceid="1900" data-provincename="广东">中山</li>

                        <li class="hide" data-cityid="2602" data-cityname="铜川" data-provinceid="2600" data-provincename="陕西">铜川</li>

                        <li class="hide" data-cityid="1506" data-cityname="烟台" data-provinceid="1500" data-provincename="山东">烟台</li>

                        <li class="hide" data-cityid="1003" data-cityname="徐州" data-provinceid="1000" data-provincename="江苏">徐州</li>

                        <li class="hide" data-cityid="1502" data-cityname="青岛" data-provinceid="1500" data-provincename="山东">青岛</li>

                        <li class="hide" data-cityid="1711" data-cityname="黄冈" data-provinceid="1700" data-provincename="湖北">黄冈</li>

                        <li class="hide" data-cityid="2701" data-cityname="兰州" data-provinceid="2700" data-provincename="甘肃">兰州</li>

                        <li class="hide" data-cityid="1305" data-cityname="泉州" data-provinceid="1300" data-provincename="福建">泉州</li>

                        <li class="hide" data-cityid="1507" data-cityname="潍坊" data-provinceid="1500" data-provincename="山东">潍坊</li>

                        <li class="hide" data-cityid="603" data-cityname="鞍山" data-provinceid="600" data-provincename="辽宁">鞍山</li>

                        <li class="hide" data-cityid="1617" data-cityname="信阳" data-provinceid="1600" data-provincename="河南">信阳</li>

                        <li class="hide" data-cityid="2604" data-cityname="咸阳" data-provinceid="2600" data-provincename="陕西">咸阳</li>

                        <li class="hide" data-cityid="405" data-cityname="晋城" data-provinceid="400" data-provincename="山西">晋城</li>

                        <li class="hide" data-cityid="806" data-cityname="大庆" data-provinceid="800" data-provincename="黑龙江">大庆</li>

                        <li class="hide" data-cityid="1509" data-cityname="泰安" data-provinceid="1500" data-provincename="山东">泰安</li>

                        <li class="hide" data-cityid="805" data-cityname="双鸭山" data-provinceid="800" data-provincename="黑龙江">双鸭山</li>

                        <li class="hide" data-cityid="1504" data-cityname="枣庄" data-provinceid="1500" data-provincename="山东">枣庄</li>

                        <li class="hide" data-cityid="1010" data-cityname="盐城" data-provinceid="1000" data-provincename="江苏">盐城</li>

                        <li class="hide" data-cityid="1605" data-cityname="安阳" data-provinceid="1600" data-provincename="河南">安阳</li>

                        <li class="hide" data-cityid="803" data-cityname="鸡西" data-provinceid="800" data-provincename="黑龙江">鸡西</li>

                        <li class="hide" data-cityid="1008" data-cityname="淮安" data-provinceid="1000" data-provincename="江苏">淮安</li>

                        <li class="hide" data-cityid="1513" data-cityname="滨州" data-provinceid="1500" data-provincename="山东">滨州</li>

                        <li class="hide" data-cityid="1606" data-cityname="鹤壁" data-provinceid="1600" data-provincename="河南">鹤壁</li>

                        <li class="hide" data-cityid="608" data-cityname="营口" data-provinceid="600" data-provincename="辽宁">营口</li>

                        <li class="hide" data-cityid="2603" data-cityname="宝鸡" data-provinceid="2600" data-provincename="陕西">宝鸡</li>

                        <li class="hide" data-cityid="2210" data-cityname="绵阳" data-provinceid="2200" data-provincename="四川">绵阳</li>

                        <li class="hide" data-cityid="606" data-cityname="丹东" data-provinceid="600" data-provincename="辽宁">丹东</li>

                        <li class="hide" data-cityid="802" data-cityname="齐齐哈尔" data-provinceid="800" data-provincename="黑龙江">齐齐哈尔</li>

                        <li class="hide" data-cityid="1109" data-cityname="舟山" data-provinceid="1100" data-provincename="浙江">舟山</li>

                        <li class="hide" data-cityid="2223" data-cityname="凉山" data-provinceid="2200" data-provincename="四川">凉山</li>

                        <li class="hide" data-cityid="1217" data-cityname="亳州" data-provinceid="1200" data-provincename="安徽">亳州</li>

                        <li class="hide" data-cityid="1110" data-cityname="丽水" data-provinceid="1100" data-provincename="浙江">丽水</li>

                        <li class="hide" data-cityid="402" data-cityname="大同" data-provinceid="400" data-provincename="山西">大同</li>

                        <li class="hide" data-cityid="2401" data-cityname="昆明" data-provinceid="2400" data-provincename="云南">昆明</li>

                        <li class="hide" data-cityid="610" data-cityname="辽阳" data-provinceid="600" data-provincename="辽宁">辽阳</li>

                        <li class="hide" data-cityid="2404" data-cityname="曲靖" data-provinceid="2400" data-provincename="云南">曲靖</li>

                        <li class="hide" data-cityid="807" data-cityname="伊春" data-provinceid="800" data-provincename="黑龙江">伊春</li>

                        <li class="hide" data-cityid="604" data-cityname="抚顺" data-provinceid="600" data-provincename="辽宁">抚顺</li>

                        <li class="hide" data-cityid="1912" data-cityname="惠州" data-provinceid="1900" data-provincename="广东">惠州</li>

                        <li class="hide" data-cityid="1102" data-cityname="宁波" data-provinceid="1100" data-provincename="浙江">宁波</li>

                        <li class="hide" data-cityid="1612" data-cityname="三门峡" data-provinceid="1600" data-provincename="河南">三门峡</li>

                        <li class="hide" data-cityid="1603" data-cityname="洛阳" data-provinceid="1600" data-provincename="河南">洛阳</li>

                        <li class="hide" data-cityid="613" data-cityname="朝阳" data-provinceid="600" data-provincename="辽宁">朝阳</li>

                        <li class="hide" data-cityid="1610" data-cityname="许昌" data-provinceid="1600" data-provincename="河南">许昌</li>

                        <li class="hide" data-cityid="1907" data-cityname="江门" data-provinceid="1900" data-provincename="广东">江门</li>

                        <li class="hide" data-cityid="504" data-cityname="赤峰" data-provinceid="500" data-provincename="内蒙古">赤峰</li>

                        <li class="hide" data-cityid="605" data-cityname="本溪" data-provinceid="600" data-provincename="辽宁">本溪</li>

                        <li class="hide" data-cityid="611" data-cityname="盘锦" data-provinceid="600" data-provincename="辽宁">盘锦</li>

                        <li class="hide" data-cityid="702" data-cityname="吉林" data-provinceid="700" data-provincename="吉林">吉林</li>

                        <li class="hide" data-cityid="1307" data-cityname="南平" data-provinceid="1300" data-provincename="福建">南平</li>

                        <li class="hide" data-cityid="1306" data-cityname="漳州" data-provinceid="1300" data-provincename="福建">漳州</li>

                        <li class="hide" data-cityid="1505" data-cityname="东营" data-provinceid="1500" data-provincename="山东">东营</li>

                        <li class="hide" data-cityid="510" data-cityname="鄂尔多斯" data-provinceid="500" data-provincename="内蒙古">鄂尔多斯</li>

                        <li class="hide" data-cityid="1009" data-cityname="宿迁" data-provinceid="1000" data-provincename="江苏">宿迁</li>

                        <li class="hide" data-cityid="1208" data-cityname="安庆" data-provinceid="1200" data-provincename="安徽">安庆</li>

                        <li class="hide" data-cityid="1407" data-cityname="赣州" data-provinceid="1400" data-provincename="江西">赣州</li>

                        <li class="hide" data-cityid="1207" data-cityname="铜陵" data-provinceid="1200" data-provincename="安徽">铜陵</li>

                        <li class="hide" data-cityid="1209" data-cityname="黄山" data-provinceid="1200" data-provincename="安徽">黄山</li>

                        <li class="hide" data-cityid="1304" data-cityname="三明" data-provinceid="1300" data-provincename="福建">三明</li>

                        <li class="hide" data-cityid="1007" data-cityname="连云港" data-provinceid="1000" data-provincename="江苏">连云港</li>

                        <li class="hide" data-cityid="1806" data-cityname="岳阳" data-provinceid="1800" data-provincename="湖南">岳阳</li>

                        <li class="hide" data-cityid="1807" data-cityname="常德" data-provinceid="1800" data-provincename="湖南">常德</li>

                        <li class="hide" data-cityid="804" data-cityname="鹤岗" data-provinceid="800" data-provincename="黑龙江">鹤岗</li>

                        <li class="hide" data-cityid="1604" data-cityname="平顶山" data-provinceid="1600" data-provincename="河南">平顶山</li>

                        <li class="hide" data-cityid="1713" data-cityname="荆州" data-provinceid="1700" data-provincename="湖北">荆州</li>

                        <li class="hide" data-cityid="1710" data-cityname="孝感" data-provinceid="1700" data-provincename="湖北">孝感</li>

                        <li class="hide" data-cityid="1812" data-cityname="永州" data-provinceid="1800" data-provincename="湖南">永州</li>

                        <li class="hide" data-cityid="2013" data-cityname="河池" data-provinceid="2000" data-provincename="广西">河池</li>

                        <li class="hide" data-cityid="3516" data-cityname="中卫" data-provinceid="2900" data-provincename="宁夏">中卫</li>

                        <li class="hide" data-cityid="1309" data-cityname="龙岩" data-provinceid="1300" data-provincename="福建">龙岩</li>

                        <li class="hide" data-cityid="809" data-cityname="七台河" data-provinceid="800" data-provincename="黑龙江">七台河</li>

                        <li class="hide" data-cityid="2012" data-cityname="百色" data-provinceid="2000" data-provincename="广西">百色</li>

                        <li class="hide" data-cityid="2605" data-cityname="渭南" data-provinceid="2600" data-provincename="陕西">渭南</li>

                        <li class="hide" data-cityid="2704" data-cityname="白银" data-provinceid="2700" data-provincename="甘肃">白银</li>

                        <li class="hide" data-cityid="2209" data-cityname="德阳" data-provinceid="2200" data-provincename="四川">德阳</li>

                        <li class="hide" data-cityid="1904" data-cityname="珠海" data-provinceid="1900" data-provincename="广东">珠海</li>

                        <li class="hide" data-cityid="1607" data-cityname="新乡" data-provinceid="1600" data-provincename="河南">新乡</li>

                        <li class="hide" data-cityid="1107" data-cityname="金华" data-provinceid="1100" data-provincename="浙江">金华</li>

                        <li class="hide" data-cityid="411" data-cityname="运城" data-provinceid="400" data-provincename="山西">运城</li>

                        <li class="hide" data-cityid="704" data-cityname="辽源" data-provinceid="700" data-provincename="吉林">辽源</li>

                        <li class="hide" data-cityid="1905" data-cityname="汕头" data-provinceid="1900" data-provincename="广东">汕头</li>

                        <li class="hide" data-cityid="1103" data-cityname="温州" data-provinceid="1100" data-provincename="浙江">温州</li>

                        <li class="hide" data-cityid="1408" data-cityname="宜春" data-provinceid="1400" data-provincename="江西">宜春</li>

                        <li class="hide" data-cityid="1104" data-cityname="嘉兴" data-provinceid="1100" data-provincename="浙江">嘉兴</li>

                        <li class="hide" data-cityid="1703" data-cityname="十堰" data-provinceid="1700" data-provincename="湖北">十堰</li>

                        <li class="hide" data-cityid="509" data-cityname="乌兰察布" data-provinceid="500" data-provincename="内蒙古">乌兰察布</li>

                        <li class="hide" data-cityid="1913" data-cityname="梅州" data-provinceid="1900" data-provincename="广东">梅州</li>

                        <li class="hide" data-cityid="1013" data-cityname="镇江" data-provinceid="1000" data-provincename="江苏">镇江</li>

                        <li class="hide" data-cityid="1004" data-cityname="常州" data-provinceid="1000" data-provincename="江苏">常州</li>

                        <li class="hide" data-cityid="408" data-cityname="吕梁" data-provinceid="400" data-provincename="山西">吕梁</li>

                        <li class="hide" data-cityid="1910" data-cityname="肇庆" data-provinceid="1900" data-provincename="广东">肇庆</li>

                        <li class="hide" data-cityid="1804" data-cityname="衡阳" data-provinceid="1800" data-provincename="湖南">衡阳</li>

                        <li class="hide" data-cityid="404" data-cityname="长治" data-provinceid="400" data-provincename="山西">长治</li>

                        <li class="hide" data-cityid="1205" data-cityname="马鞍山" data-provinceid="1200" data-provincename="安徽">马鞍山</li>

                        <li class="hide" data-cityid="1213" data-cityname="六安" data-provinceid="1200" data-provincename="安徽">六安</li>

                        <li class="hide" data-cityid="1908" data-cityname="湛江" data-provinceid="1900" data-provincename="广东">湛江</li>

                        <li class="hide" data-cityid="2221" data-cityname="阿坝" data-provinceid="2200" data-provincename="四川">阿坝</li>

                        <li class="hide" data-cityid="514" data-cityname="集宁" data-provinceid="500" data-provincename="内蒙古">集宁</li>

                        <li class="hide" data-cityid="403" data-cityname="阳泉" data-provinceid="400" data-provincename="山西">阳泉</li>

                        <li class="hide" data-cityid="1609" data-cityname="濮阳" data-provinceid="1600" data-provincename="河南">濮阳</li>

                        <li class="hide" data-cityid="517" data-cityname="锡林浩特" data-provinceid="500" data-provincename="内蒙古">锡林浩特</li>

                        <li class="hide" data-cityid="2218" data-cityname="宜宾" data-provinceid="2200" data-provincename="四川">宜宾</li>

                        <li class="hide" data-cityid="2201" data-cityname="资阳" data-provinceid="2200" data-provincename="四川">资阳</li>

                        <li class="hide" data-cityid="2707" data-cityname="张掖" data-provinceid="2700" data-provincename="甘肃">张掖</li>

                        <li class="hide" data-cityid="1303" data-cityname="莆田" data-provinceid="1300" data-provincename="福建">莆田</li>

                        <li class="hide" data-cityid="609" data-cityname="阜新" data-provinceid="600" data-provincename="辽宁">阜新</li>

                        <li class="hide" data-cityid="1108" data-cityname="衢州" data-provinceid="1100" data-provincename="浙江">衢州</li>

                        <li class="hide" data-cityid="1705" data-cityname="宜昌" data-provinceid="1700" data-provincename="湖北">宜昌</li>

                        <li class="hide" data-cityid="1212" data-cityname="宿州" data-provinceid="1200" data-provincename="安徽">宿州</li>

                        <li class="hide" data-cityid="1503" data-cityname="淄博" data-provinceid="1500" data-provincename="山东">淄博</li>

                        <li class="hide" data-cityid="607" data-cityname="锦州" data-provinceid="600" data-provincename="辽宁">锦州</li>

                        <li class="hide" data-cityid="2014" data-cityname="钦州" data-provinceid="2000" data-provincename="广西">钦州</li>

                        <li class="hide" data-cityid="2801" data-cityname="西宁" data-provinceid="2800" data-provincename="青海">西宁</li>

                        <li class="hide" data-cityid="2306" data-cityname="毕节" data-provinceid="2300" data-provincename="贵州">毕节</li>

                        <li class="hide" data-cityid="2208" data-cityname="泸州" data-provinceid="2200" data-provincename="四川">泸州</li>

                        <li class="hide" data-cityid="2410" data-cityname="西双版纳" data-provinceid="2400" data-provincename="云南">西双版纳</li>

                        <li class="hide" data-cityid="2607" data-cityname="安康" data-provinceid="2600" data-provincename="陕西">安康</li>

                        <li class="hide" data-cityid="1203" data-cityname="蚌埠" data-provinceid="1200" data-provincename="安徽">蚌埠</li>

                        <li class="hide" data-cityid="1409" data-cityname="上饶" data-provinceid="1400" data-provincename="江西">上饶</li>

                        <li class="hide" data-cityid="2610" data-cityname="榆林" data-provinceid="2600" data-provincename="陕西">榆林</li>

                        <li class="hide" data-cityid="2810" data-cityname="格尔木" data-provinceid="2800" data-provincename="青海">格尔木</li>

                        <li class="hide" data-cityid="2212" data-cityname="遂宁" data-provinceid="2200" data-provincename="四川">遂宁</li>

                        <li class="hide" data-cityid="1613" data-cityname="商丘" data-provinceid="1600" data-provincename="河南">商丘</li>

                        <li class="hide" data-cityid="2303" data-cityname="遵义" data-provinceid="2300" data-provincename="贵州">遵义</li>

                        <li class="hide" data-cityid="1111" data-cityname="台州" data-provinceid="1100" data-provincename="浙江">台州</li>

                        <li class="hide" data-cityid="410" data-cityname="临汾" data-provinceid="400" data-provincename="山西">临汾</li>

                        <li class="hide" data-cityid="2219" data-cityname="达州" data-provinceid="2200" data-provincename="四川">达州</li>

                        <li class="hide" data-cityid="2216" data-cityname="南充" data-provinceid="2200" data-provincename="四川">南充</li>

                        <li class="hide" data-cityid="1608" data-cityname="焦作" data-provinceid="1600" data-provincename="河南">焦作</li>

                        <li class="hide" data-cityid="1902" data-cityname="韶关" data-provinceid="1900" data-provincename="广东">韶关</li>

                        <li class="hide" data-cityid="1410" data-cityname="吉安" data-provinceid="1400" data-provincename="江西">吉安</li>

                        <li class="hide" data-cityid="1308" data-cityname="宁德" data-provinceid="1300" data-provincename="福建">宁德</li>

                        <li class="hide" data-cityid="1514" data-cityname="德州" data-provinceid="1500" data-provincename="山东">德州</li>

                        <li class="hide" data-cityid="513" data-cityname="海拉尔" data-provinceid="500" data-provincename="内蒙古">海拉尔</li>

                        <li class="hide" data-cityid="1805" data-cityname="邵阳" data-provinceid="1800" data-provincename="湖南">邵阳</li>

                        <li class="hide" data-cityid="2214" data-cityname="乐山" data-provinceid="2200" data-provincename="四川">乐山</li>

                        <li class="hide" data-cityid="1511" data-cityname="日照" data-provinceid="1500" data-provincename="山东">日照</li>

                        <li class="hide" data-cityid="1206" data-cityname="淮北" data-provinceid="1200" data-provincename="安徽">淮北</li>

                        <li class="hide" data-cityid="503" data-cityname="乌海" data-provinceid="500" data-provincename="内蒙古">乌海</li>

                        <li class="hide" data-cityid="1802" data-cityname="株洲" data-provinceid="1800" data-provincename="湖南">株洲</li>

                        <li class="hide" data-cityid="2302" data-cityname="六盘水" data-provinceid="2300" data-provincename="贵州">六盘水</li>

                        <li class="hide" data-cityid="2411" data-cityname="大理" data-provinceid="2400" data-provincename="云南">大理</li>

                        <li class="hide" data-cityid="1717" data-cityname="恩施" data-provinceid="1700" data-provincename="湖北">恩施</li>

                        <li class="hide" data-cityid="1712" data-cityname="咸宁" data-provinceid="1700" data-provincename="湖北">咸宁</li>

                        <li class="hide" data-cityid="505" data-cityname="呼伦贝尔" data-provinceid="500" data-provincename="内蒙古">呼伦贝尔</li>

                        <li class="hide" data-cityid="709" data-cityname="白山" data-provinceid="700" data-provincename="吉林">白山</li>

                        <li class="hide" data-cityid="1808" data-cityname="张家界" data-provinceid="1800" data-provincename="湖南">张家界</li>

                        <li class="hide" data-cityid="1616" data-cityname="南阳" data-provinceid="1600" data-provincename="河南">南阳</li>

                        <li class="hide" data-cityid="2207" data-cityname="攀枝花" data-provinceid="2200" data-provincename="四川">攀枝花</li>

                        <li class="hide" data-cityid="407" data-cityname="忻州" data-provinceid="400" data-provincename="山西">忻州</li>

                        <li class="hide" data-cityid="1411" data-cityname="抚州" data-provinceid="1400" data-provincename="江西">抚州</li>

                        <li class="hide" data-cityid="1510" data-cityname="威海" data-provinceid="1500" data-provincename="山东">威海</li>

                        <li class="hide" data-cityid="612" data-cityname="铁岭" data-provinceid="600" data-provincename="辽宁">铁岭</li>

                        <li class="hide" data-cityid="707" data-cityname="白城" data-provinceid="700" data-provincename="吉林">白城</li>

                        <li class="hide" data-cityid="2609" data-cityname="延安" data-provinceid="2600" data-provincename="陕西">延安</li>

                        <li class="hide" data-cityid="2706" data-cityname="酒泉" data-provinceid="2700" data-provincename="甘肃">酒泉</li>

                        <li class="hide" data-cityid="1602" data-cityname="开封" data-provinceid="1600" data-provincename="河南">开封</li>

                        <li class="hide" data-cityid="512" data-cityname="阿拉善盟" data-provinceid="500" data-provincename="内蒙古">阿拉善盟</li>

                        <li class="hide" data-cityid="2407" data-cityname="红河" data-provinceid="2400" data-provincename="云南">红河</li>

                        <li class="hide" data-cityid="2904" data-cityname="固原" data-provinceid="2900" data-provincename="宁夏">固原</li>

                        <li class="hide" data-cityid="406" data-cityname="朔州" data-provinceid="400" data-provincename="山西">朔州</li>

                        <li class="hide" data-cityid="506" data-cityname="兴安盟" data-provinceid="500" data-provincename="内蒙古">兴安盟</li>

                        <li class="hide" data-cityid="2606" data-cityname="汉中" data-provinceid="2600" data-provincename="陕西">汉中</li>

                        <li class="hide" data-cityid="2307" data-cityname="安顺" data-provinceid="2300" data-provincename="贵州">安顺</li>

                        <li class="hide" data-cityid="508" data-cityname="锡林郭勒盟" data-provinceid="500" data-provincename="内蒙古">锡林郭勒盟</li>

                        <li class="hide" data-cityid="2308" data-cityname="黔东南" data-provinceid="2300" data-provincename="贵州">黔东南</li>

                        <li class="hide" data-cityid="2304" data-cityname="铜仁" data-provinceid="2300" data-provincename="贵州">铜仁</li>

                        <li class="hide" data-cityid="2705" data-cityname="天水" data-provinceid="2700" data-provincename="甘肃">天水</li>

                        <li class="hide" data-cityid="2204" data-cityname="巴中" data-provinceid="2200" data-provincename="四川">巴中</li>

                        <li class="hide" data-cityid="1813" data-cityname="怀化" data-provinceid="1800" data-provincename="湖南">怀化</li>

                        <li class="hide" data-cityid="708" data-cityname="延边" data-provinceid="700" data-provincename="吉林">延边</li>

                        <li class="hide" data-cityid="1811" data-cityname="郴州" data-provinceid="1800" data-provincename="湖南">郴州</li>

                        <li class="hide" data-cityid="1921" data-cityname="揭阳" data-provinceid="1900" data-provincename="广东">揭阳</li>

                        <li class="hide" data-cityid="2903" data-cityname="吴忠" data-provinceid="2900" data-provincename="宁夏">吴忠</li>

                        <li class="hide" data-cityid="3511" data-cityname="济源" data-provinceid="1600" data-provincename="河南">济源</li>

                        <li class="hide" data-cityid="2712" data-cityname="庆阳" data-provinceid="2700" data-provincename="甘肃">庆阳</li>

                        <li class="hide" data-cityid="2902" data-cityname="石嘴山" data-provinceid="2900" data-provincename="宁夏">石嘴山</li>

                        <li class="hide" data-cityid="1914" data-cityname="汕尾" data-provinceid="1900" data-provincename="广东">汕尾</li>

                        <li class="hide" data-cityid="1512" data-cityname="莱芜" data-provinceid="1500" data-provincename="山东">莱芜</li>

                        <li class="hide" data-cityid="1106" data-cityname="绍兴" data-provinceid="1100" data-provincename="浙江">绍兴</li>

                        <li class="hide" data-cityid="705" data-cityname="通化" data-provinceid="700" data-provincename="吉林">通化</li>

                        <li class="hide" data-cityid="1920" data-cityname="潮州" data-provinceid="1900" data-provincename="广东">潮州</li>

                        <li class="hide" data-cityid="2002" data-cityname="柳州" data-provinceid="2000" data-provincename="广西">柳州</li>

                        <li class="hide" data-cityid="2203" data-cityname="广安" data-provinceid="2200" data-provincename="四川">广安</li>

                        <li class="hide" data-cityid="2213" data-cityname="内江" data-provinceid="2200" data-provincename="四川">内江</li>

                        <li class="hide" data-cityid="1709" data-cityname="荆门" data-provinceid="1700" data-provincename="湖北">荆门</li>

                        <li class="hide" data-cityid="2417" data-cityname="临沧" data-provinceid="2400" data-provincename="云南">临沧</li>

                        <li class="hide" data-cityid="712" data-cityname="延吉" data-provinceid="700" data-provincename="吉林">延吉</li>

                        <li class="hide" data-cityid="2414" data-cityname="丽江" data-provinceid="2400" data-provincename="云南">丽江</li>

                        <li class="hide" data-cityid="2409" data-cityname="普洱" data-provinceid="2400" data-provincename="云南">普洱</li>

                        <li class="hide" data-cityid="1809" data-cityname="益阳" data-provinceid="1800" data-provincename="湖南">益阳</li>

                        <li class="hide" data-cityid="1917" data-cityname="清远" data-provinceid="1900" data-provincename="广东">清远</li>

                        <li class="hide" data-cityid="1011" data-cityname="扬州" data-provinceid="1000" data-provincename="江苏">扬州</li>

                        <li class="hide" data-cityid="1404" data-cityname="九江" data-provinceid="1400" data-provincename="江西">九江</li>

                    </ul>
                </div>
            </div>
            <!--city end-->
            <!--company begin-->
            <div class="company hide">
                <div class="left">
                    <ul>
                        <li data-companyid="0" data-companyname="" class="cur">全部</li>

                        <li data-companyid="19" data-companyname="移动网络">移动网络</li>

                        <li data-companyid="20" data-companyname="联通网络">联通网络</li>

                        <li data-companyid="21" data-companyname="电信网络">电信网络</li>

                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li data-companyid="0" data-prefixnum="">全部</li>

                        <li data-companyid="21" data-prefixnum="162">162</li>

                        <li data-companyid="19" data-prefixnum="165">165</li>

                        <li data-companyid="20" data-prefixnum="167">167</li>

                        <li data-companyid="21" data-prefixnum="1700">1700</li>

                        <li data-companyid="21" data-prefixnum="1701">1701</li>

                        <li data-companyid="21" data-prefixnum="1702">1702</li>

                        <li data-companyid="19" data-prefixnum="1703">1703</li>

                        <li data-companyid="20" data-prefixnum="1704">1704</li>

                        <li data-companyid="19" data-prefixnum="1705">1705</li>

                        <li data-companyid="19" data-prefixnum="1706">1706</li>

                        <li data-companyid="20" data-prefixnum="1707">1707</li>

                        <li data-companyid="20" data-prefixnum="1708">1708</li>

                        <li data-companyid="20" data-prefixnum="1709">1709</li>

                        <li data-companyid="20" data-prefixnum="171">171</li>

                    </ul>
                </div>
            </div>
            <!--company end-->
            <!--featrue begin-->
            <div class="featrue hide">
                <div class="left">
                    <ul>
                        <li data-pos="" class="cur">不限位置</li>
                        <li data-pos="m">中间规律</li>
                        <li data-pos="e">尾数规律</li>
                    </ul>
                </div>
                <div class="right">
                    <ul>

                        <li data-fval="">全部</li>

                        <li data-fval="AAA">AAA</li>

                        <li data-fval="AAAA">AAAA</li>

                        <li data-fval="AAAAA">AAAAA</li>

                        <li data-fval="AAAAAA">6A</li>

                        <li data-fval="AAAAAAA">7A</li>

                        <li data-fval="AAAAAAAA">8A</li>

                        <li data-fval="ABC">ABC</li>

                        <li data-fval="ABCD">ABCD</li>

                        <li data-fval="ABCDE">ABCDE</li>

                        <li data-fval="ABCDEF">ABCDEF</li>

                        <li data-fval="AAAB">AAAB</li>

                        <li data-fval="AAAAB">AAAAB</li>

                        <li data-fval="AAAAAB">AAAAAB</li>

                        <li data-fval="AAAAAAB">AAAAAAB</li>

                        <li data-fval="AAAABB">AAAABB</li>

                        <li data-fval="AAAAABB">AAAAABB</li>

                        <li data-fval="AABB">AABB</li>

                        <li data-fval="AABBCC">AABBCC</li>

                        <li data-fval="AAABBB">AAABBB</li>

                        <li data-fval="AAAABBBB">AAAABBBB</li>

                        <li data-fval="ABAB">ABAB</li>

                        <li data-fval="ABABAB">ABABAB</li>

                        <li data-fval="ABCABC">ABCABC</li>

                        <li data-fval="ABCDABCD">ABCDABCD</li>

                        <li data-fval="AABBB">AABBB</li>

                        <li data-fval="AABBBB">AABBBB</li>

                        <li data-fval="AAABBBB">AAABBBB</li>

                        <li data-fval="AABBBBB">AABBBBB</li>

                        <li data-fval="AABBCCCC">AABBCCCC</li>

                        <li data-fval="ABABCCCC">ABABCCCC</li>

                        <li data-fval="AAABBBCCC">AAABBBCCC</li>

                        <li data-fval="ABABCCC">ABABCCC</li>

                        <li data-fval="AABBCCC">AABBCCC</li>

                        <li data-fval="ABCDDD">ABCDDD</li>

                        <li data-fval="ABBBCDDD">ABBBCDDD</li>

                        <li data-fval="AABBCCDD">AABBCCDD</li>

                        <li data-fval="AAABAAAB">AAABAAAB</li>

                        <li data-fval="ABACADAE">ABACADAE</li>

                        <li data-fval="BACADAEA">BACADAEA</li>

                        <li data-fval="ABABABAB">ABABABAB</li>

                        <li data-fval="AABAA">AABAA</li>

                        <li data-fval="AAABA">AAABA</li>

                    </ul>
                </div>
            </div>
            <!--featrue end-->
            <!--more begin-->
            <div class="filter-more hide">
                <div class="tit">价格</div>
                <ul class="clearfix price">

                    <li data-val="">全部</li>

                    <li data-val="0-300">300以下</li>

                    <li data-val="301-500">301-500</li>

                    <li data-val="501-1000">501-1000</li>

                    <li data-val="1001-3000">1001-3000</li>

                    <li data-val="3001-5000">3001-5000</li>

                    <li data-val="5001-10000">5001-1万</li>

                    <li data-val="10001-50000">1-5万</li>

                    <li data-val="50000-">5万以上</li>

                </ul>
                <div id="custom-price-box"><span>您能接受的价格范围</span><input type="number" id="lowprice" class="input-text" placeholder="最低价"> - <input type="number" id="topprice" class="input-text" placeholder="最高价"></div>

                <div class="tit">分类</div>
                <ul class="clearfix cat">

                    <li data-val="13">蜗牛</li>

                    <li data-val="14">民生</li>

                    <li data-val="15">中麦</li>

                    <li data-val="16">长城</li>

                    <li data-val="17">长江时代</li>

                    <li data-val="18">河马</li>

                    <li data-val="19">中兴</li>

                    <li data-val="20">蓝猫</li>

                    <li data-val="21">三五</li>

                    <li data-val="22">连连科技</li>

                    <li data-val="23">分享</li>

                    <li data-val="24">天音</li>

                    <li data-val="38">话机世界</li>

                    <li data-val="44">263</li>

                    <li data-val="46">日日顺</li>

                    <li data-val="47">用友</li>

                    <li data-val="50">京东</li>

                    <li data-val="51">联想</li>

                    <li data-val="52">爱施德</li>

                    <li data-val="53">鹏博士</li>

                    <li data-val="25">小米</li>

                    <li data-val="26">银盛</li>

                    <li data-val="27">迪加</li>

                    <li data-val="28">中邮</li>

                    <li data-val="29">华翔</li>

                    <li data-val="30">国美</li>

                    <li data-val="31">星美</li>

                    <li data-val="32">U友</li>

                    <li data-val="33">全民优打</li>

                    <li data-val="34">远特</li>

                    <li data-val="35">苏宁</li>

                    <li data-val="36">丰信</li>

                    <li data-val="43">海尔</li>

                    <li data-val="48">263通讯</li>

                    <li data-val="37">青牛</li>

                    <li data-val="39">红豆</li>

                    <li data-val="40">朗玛</li>

                    <li data-val="41">北纬</li>

                    <li data-val="42">中期</li>

                    <li data-val="45">乐语</li>

                    <li data-val="12">海航</li>

                </ul>

                <div class="tit" id="tit-yuyi">寓意</div>
                <ul class="clearfix yuyi" id="li-yuyi">

                    <li data-val="">不限</li>

                    <li data-val="3">后5位1349</li>

                    <li data-val="4">后5位2678</li>

                    <li data-val="5">全号1349</li>

                    <li data-val="6">全号2678</li>

                    <li data-val="7">全号01349</li>

                    <li data-val="8">尾数520</li>

                </ul>
                <div class="tit">排除</div>
                <ul class="clearfix except">

                    <li class="ckb-item" data-val="" style="display: none;">不限</li>

                    <li class="ckb-item" data-val="e0">不带0</li>

                    <li class="ckb-item" data-val="e2">不带2</li>

                    <li class="ckb-item" data-val="e3">不带3</li>

                    <li class="ckb-item" data-val="e4">不带4</li>

                    <li class="ckb-item" data-val="e5">不带5</li>

                    <li class="ckb-item" data-val="e6">不带6</li>

                    <li class="ckb-item" data-val="e7">不带7</li>

                    <li class="ckb-item" data-val="e8">不带8</li>

                    <li class="ckb-item" data-val="e9">不带9</li>

                </ul>
                <div class="tit">数字较多</div>
                <ul class="clearfix moreNumber">

                    <li data-val="">全部</li>

                    <li data-val="n9">9较多</li>

                    <li data-val="n8">8较多</li>

                    <li data-val="n7">7较多</li>

                    <li data-val="n6">6较多</li>

                    <li data-val="n5">5较多</li>

                    <li data-val="n4">4较多</li>

                    <li data-val="n3">3较多</li>

                    <li data-val="n2">2较多</li>

                    <li data-val="n1">1较多</li>

                    <li data-val="n0">0较多</li>

                </ul>
                <div style="height:40px;"></div>
                <div class="filter-more-btn">
                    <div class="reset">重置</div>
                    <div class="submit">确定</div>
                </div>
            </div>
            <!--more end-->
        </div>
        <!--new filter pop end-->
        <a class="search-reset-m" href="http://lanshuo99.cn/webapp/m-list.aspx?mid=0"><img src="./得时靓号网_files/ref3.png"></a>
    </div>
    <div class="mask hide"></div>

    <!--filter pop-->
    <!--filter pop end-->
    <!--header end-->
    <!--list begin-->
    <div class="box-mt hasresult hide" id="hasresult" style="display: block;">
        <div class="tab">
            <ul class="title">
                <li data-val="0" class="alt-tabs-head orderItem cur">综合排序</li>
                <li data-val="1" class="alt-tabs-head orderItem ">价格从低到高</li>
                <li data-val="2" class="alt-tabs-head orderItem ">价格从高到低</li>
            </ul>
        </div>
        <ul class="mb-list clearfix TBmobileData" id="data">

            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071978">
                    <div class="mobile">162<font color="#FF8C69">2313</font><font color="#00BFFF">4444</font></div>
                    <div class="city">重庆·电信</div>
                    <div class="price">
                        <i>￥</i>3550
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>7100</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071976">
                    <div class="mobile">170<font color="#FF8C69">9286</font><font color="#00BFFF">7888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>1599
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>3198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071975">
                    <div class="mobile">171<font color="#FF8C69">7836</font><font color="#00BFFF">5888</font></div>
                    <div class="city">四川泸州·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071974">
                    <div class="mobile">171<font color="#FF8C69">7836</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川泸州·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071973">
                    <div class="mobile">171<font color="#FF8C69">7821</font><font color="#00BFFF">6888</font></div>
                    <div class="city">四川绵阳·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071971">
                    <div class="mobile">171<font color="#FF8C69">7812</font><font color="#00BFFF">9888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071970">
                    <div class="mobile">171<font color="#FF8C69">7812</font><font color="#00BFFF">7888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071969">
                    <div class="mobile">171<font color="#FF8C69">7812</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071968">
                    <div class="mobile">171<font color="#FF8C69">7812</font><font color="#00BFFF">3888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>1599
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>3198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071967">
                    <div class="mobile">171<font color="#FF8C69">7812</font><font color="#00BFFF">2888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>1399
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2798</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071964">
                    <div class="mobile">171<font color="#FF8C69">7285</font><font color="#00BFFF">3888</font></div>
                    <div class="city">四川乐山·联通</div>
                    <div class="price">
                        <i>￥</i>1099
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071963">
                    <div class="mobile">171<font color="#FF8C69">7285</font><font color="#00BFFF">2888</font></div>
                    <div class="city">四川乐山·联通</div>
                    <div class="price">
                        <i>￥</i>1099
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071959">
                    <div class="mobile">171<font color="#FF8C69">1916</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071958">
                    <div class="mobile">171<font color="#FF8C69">1916</font><font color="#00BFFF">3888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>1099
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071957">
                    <div class="mobile">171<font color="#FF8C69">1916</font><font color="#00BFFF">2888</font></div>
                    <div class="city">四川德阳·联通</div>
                    <div class="price">
                        <i>￥</i>1099
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071946">
                    <div class="mobile">171<font color="#FF8C69">1895</font><font color="#00BFFF">1888</font></div>
                    <div class="city">四川泸州·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071935">
                    <div class="mobile">170<font color="#FF8C69">9280</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071934">
                    <div class="mobile">170<font color="#FF8C69">9280</font><font color="#00BFFF">3888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>1099
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2198</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071933">
                    <div class="mobile">170<font color="#FF8C69">9280</font><font color="#00BFFF">1888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071923">
                    <div class="mobile">171<font color="#FF8C69">8824</font><font color="#00BFFF">7888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071922">
                    <div class="mobile">171<font color="#FF8C69">8824</font><font color="#00BFFF">6888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071921">
                    <div class="mobile">171<font color="#FF8C69">8824</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071920">
                    <div class="mobile">171<font color="#FF8C69">8824</font><font color="#00BFFF">3888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071918">
                    <div class="mobile">171<font color="#FF8C69">8824</font><font color="#00BFFF">0888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071917">
                    <div class="mobile">171<font color="#FF8C69">2482</font><font color="#00BFFF">9888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071916">
                    <div class="mobile">171<font color="#FF8C69">2482</font><font color="#00BFFF">5888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071915">
                    <div class="mobile">171<font color="#FF8C69">2482</font><font color="#00BFFF">2888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071914">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">6888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071913">
                    <div class="mobile">170<font color="#FF8C69">9286</font><font color="#00BFFF">1888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071912">
                    <div class="mobile">170<font color="#FF8C69">9286</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071911">
                    <div class="mobile">170<font color="#FF8C69">9286</font><font color="#00BFFF">0888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>1299
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>2598</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071910">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">5888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071909">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">4888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071908">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">3888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071907">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">2888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071906">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">1888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071905">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">0888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071904">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">9888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071903">
                    <div class="mobile">170<font color="#FF8C69">7814</font><font color="#00BFFF">7888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://lanshuo99.cn/webapp/detail.aspx?id=4071902">
                    <div class="mobile">171<font color="#FF8C69">6140</font><font color="#00BFFF">7888</font></div>
                    <div class="city">四川成都·联通</div>
                    <div class="price">
                        <i>￥</i>999
                        <span class="hide huafei">话费0</span>
                        <span class="hide oldprice">原价<i><i>￥</i>1998</i></span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="loadmore">加载更多</div>
    </div>
    <!--list end-->
    <!--noresult begin-->
    <div class="noresult hide" style="display: none;">
        <div><img src="./得时靓号网_files/cry2.png"></div>
        <div>没有找到号码哦，请更改查询条件</div>
    </div>
    <!--noresult end-->
    <div class="loading hide" style="display: none;">
        <span>加载中...</span>
    </div>

    <div id="btn-jd-niukaba" class="fav-nav btn-jd hide"><a href="https://mall.jd.com/index-928993.html"></a></div>
    <div id="btn-tmall-niukaba" class="fav-nav btn-tmall hide"><a href="https://yidongfanqu.tmall.com/"></a></div>
    <div id="btn-jd-sohaoba" class="fav-nav btn-jd hide"><a href="https://mall.jd.com/index-973441.html"></a></div>
    <div id="btn-tmall-sohaoba" class="fav-nav btn-tmall hide"><a href="https://cxhftx.tmall.com/"></a></div>
    <div class="fav-nav"><a href="http://lanshuo99.cn/webapp/Favorite.aspx"></a></div>

    <div class="gotop hide"><img src="./得时靓号网_files/top2.png"></div>
    <!--kw搜索-->
    <!--kw搜索-->


    <script type="text/javascript" src="./得时靓号网_files/jquery.js"></script>
    <script type="text/javascript" src="./得时靓号网_files/jquery.cookie.js"></script>
    <script type="text/javascript" src="./得时靓号网_files/changestyle.js"></script>
    <script type="text/javascript" src="./得时靓号网_files/alt_tabs.js"></script>
    <script type="text/javascript">//$(document).ready(function () {
              $('.alt-tabs').alt_tabs({ action: 'click' });
          //});

        /*var*/
        //var totalpage=0;
        var curpage=1;

        var company = '', frontNumber = '', features = '',
                    repeatNumber = '', moreNumber = '', month = '',
                    except = '', price = '', city = '',
                    type = 'mb', pos = '', keyword = '', cat = '', yuyi = '';
        var islease=0;
        var orderType='';
        var mid=0;


        /*var*/

        /*init*/
        if (city > 0) {
            var objCity = $(".city .right li[data-cityid='" + city + "']");
            var provinceid;
            if ($(objCity).length == 0) { //省份
                provinceid = city;
                var objp = $(".city .left li[data-provinceid='" + provinceid + "']");
                $(".filter-bar-city").html(substr($(objp).text(), 0, 3, true));
            }
            else if ($(objCity).length==1) { //城市
                provinceid = $(objCity).data("provinceid");
                $(".filter-bar-city").html(substr($(objCity).data("cityname"), 0, 3, true));
            }
            $(".city .right li[data-provinceid='" + provinceid + "']").show();
            $(".city .left li").removeClass("cur");
            $(".city .left li[data-provinceid='" + provinceid + "']").addClass("cur");
        }
        if(company>0){
            var obj=$(".company .left li[data-companyid='"+company+"']");
            $(obj).addClass("cur").siblings().removeClass("cur");
            $(".company .right li[data-companyid='"+company+"']").show();
            $(".company .right li[data-companyid!='"+company+"']").hide();
            $(".company .right li[data-companyid='0']").show();
            $(".filter-bar-company").html($(obj).data("companyname"));
        }
        if(features!=''){
             $(".filter-bar-featrue").html(substr(features,0,5,true));
             $(".featrue .right li[data-fval='"+features+"']").addClass("cur");
        }
        if(price!=''){
             $(".filter-more .price li[data-val='"+price+"']").addClass("cur");
        }

        if(cat!=''){
             $(".filter-more .cat li[data-val='"+cat+"']").addClass("cur");
        }

        if(yuyi!=''){
             $(".filter-more .yuyi li[data-val='"+yuyi+"']").addClass("cur");
        }

         var _kw = keyword;
         if (_kw != '' && _kw != 'undefined') {
             $("#topkw").val(_kw.replace('|', '尾号').replace(/_/ig, '*'));
             if (_kw.indexOf('_') > -1) {
                 var o = document.getElementById('searchNum').getElementsByTagName('input');
                 for (i = 0; i < o.length; i++) {
                     var t = _kw.charAt(i);
                     if (t != '' && t != '_') {
                         o[i].value = t;
                     }
                 }
                 if(type=='mb'){
                     $("#kwtit2").click();
                   so_kw_tab(2);
                 } //modifide

             }
             else {
                 $("#kw").val(_kw.replace('|', ''));
                 if (_kw.indexOf('|') > -1) { $("#cbIsEnd").attr('checked', true); }
                 if(type=='mb'){
                     $("#kwtit1").click();
                     so_kw_tab(1);
                 } //modifide

             }
         }

         if(type=='tel'){
            $(".alt-tabs .head").hide();

            $(".company .right").hide();
            $(".company .left").width("100%");
         }

         if($(".filter-bar-city").html()!='归属地'){ $(".filter-bar-city").addClass("red"); }else{$(".filter-bar-city").removeClass("red");}
          if($(".filter-bar-company").html()!='运营商'){ $(".filter-bar-company").addClass("red"); }else{$(".filter-bar-company").removeClass("red");}
           if($(".filter-bar-featrue").html()!='规律'){ $(".filter-bar-featrue").addClass("red"); }else{$(".filter-bar-featrue").removeClass("red");}
         /*init*/

         /*action*/
         $("#searchNum input").keyup(function (event) {
             switch (event.which) {
                 case 8: //back
                     $(this).prev().focus(); break;
                 case 37: //left
                     $(this).prev().focus(); break;
                 case 39: //right
                     $(this).next().focus(); break;
                 default:
                     var t = $(this).val();
                     var reg = /[\d]/g;
                     if (reg.test(t)) {
                         $(this).next().focus();
                     }
                     else {
                         t = t.replace(/[^\d]/g, '');
                         $(this).val(t);
                     }
                     break;
             }
         });

         function searchBykw() {
             var _kw = '';
             if ($("#kwtit1").hasClass('cur') || $(".so-kw-type").html()=='模糊') {
                 _kw = $("#kw").val();
                 if (_kw != '') {
                     if ($("#cbIsEnd").is(':checked')) { _kw += "|"; }
                 }
             } else {
                 var o = document.getElementById('searchNum').getElementsByTagName('input');
                 for (i = 0; i < o.length; i++) {
                     if (o[i].value == '') {
                         _kw += '_';
                     }
                     else {
                         _kw += o[i].value;
                     }
                 }
             }
             if (_kw != '' && _kw != '1__________') {
                 //do search
                 keyword = _kw;
                 so2();
             }
             else {
                //未输入关键字
                keyword = _kw;
                 so2();
             }
         }

         $(".kw-section .btn-submit").click(function () {
             searchBykw();
         });

         $("#so-kw-btn").click(function () {
             searchBykw();
         })


        $(".filter-bar > div").click(function(){
            if($(this).hasClass("nav-sel")){
                hideAllFilterItem();
            }
            else{
                $(this).siblings().removeClass("nav-sel");
                $(this).addClass("nav-sel");
                $(".mask").show();
                $(".filter-pop").show();
                $(".filter-pop > div").hide().eq($(this).index()).show();
            }
        })

         function hideAllFilterItem(){
            $(".mask").hide();
            $(".filter-pop").hide();
            $(".filter-bar > div").removeClass("nav-sel");
         }

         $(".mask").click(function(){
            hideAllFilterItem();
         })

         //归属地
        $(".city .left li").click(function(){
            $(this).siblings().removeClass("cur");
            $(this).addClass("cur");
            $(".city .right li[data-provinceid='"+$(this).data("provinceid")+"']").show();
            $(".city .right li[data-provinceid!='"+$(this).data("provinceid")+"']").hide();
            $(".city .right li[data-cityid='0']").show();
        })
        $(".city .right li").click(function () {
            city = $(this).data("cityid");
            if (city == '0') {
                city = $(".city .left .cur").data("provinceid");
                var pname = $(".city .left .cur").text();
                if (pname == '' || pname == '全部') { pname = '归属地'; }
                $(".filter-bar-city").html(substr(pname, 0, 3, true)).removeClass("nav-sel");
            } else {
                $(".filter-bar-city").html(substr($(this).data("cityname"), 0, 3, true)).removeClass("nav-sel");
            }
            if($(".filter-bar-city").html()!='归属地'){ $(".filter-bar-city").addClass("red"); }else{$(".filter-bar-city").removeClass("red");}
            hideAllFilterItem();
            //do search
            reload();
        })

         //运营商
         $(".company .left li").click(function(){
            $(this).siblings().removeClass("cur");
            $(this).addClass("cur");
            if(type=="tel"){
                company=$(this).data("companyid");
                hideAllFilterItem();
                reload();
            }else{
                if($(this).data("companyid")=="0"){
                    $(".company .right li").show();
                }else{
                    $(".company .right li[data-companyid='"+$(this).data("companyid")+"']").show();
                    $(".company .right li[data-companyid!='"+$(this).data("companyid")+"']").hide();
                    $(".company .right li[data-companyid='0']").show();
                }
            }
        })
         $(".company .right li").click(function(){
            frontNumber=$(this).data("prefixnum");
            if(frontNumber==''){
                company=$(".company .left .cur").data("companyid");
                var pname=$(".company .left .cur").data("companyname");
                if(pname=='' || pname=='全部'){ pname='运营商'; }
                $(".filter-bar-company").html(substr(pname,0,4,true)).removeClass("nav-sel");
            }else{
                var tit=$(this).data("prefixnum").toString();
                tit=substr(tit,0,4,true);
                $(".filter-bar-company").html(tit).removeClass("nav-sel");
            }
            if($(".filter-bar-company").html()!='运营商'){ $(".filter-bar-company").addClass("red"); }else{$(".filter-bar-company").removeClass("red");}
            hideAllFilterItem();
            //do search
            reload();
         })

         //规律
         $(".featrue .left li").click(function(){
            $(this).siblings().removeClass("cur");
            $(this).addClass("cur");
            pos=$(this).data("pos");
        })
         $(".featrue .right li").click(function(){
            $(this).siblings().removeClass("cur");
            $(this).addClass("cur");
            features=$(this).data("fval");
            if(features==''){
                $(".filter-bar-featrue").html('规律').removeClass("nav-sel");
            }else{
                $(".filter-bar-featrue").html(substr($(this).text(),0,5,true)).removeClass("nav-sel");
            }
            if($(".filter-bar-featrue").html()!='规律'){ $(".filter-bar-featrue").addClass("red"); }else{$(".filter-bar-featrue").removeClass("red");}
            hideAllFilterItem();
            //do search
            reload();
         })

         //排序
         $(".orderItem").click(function(){
             $(this).siblings().removeClass("cur");
             $(this).addClass("cur");
             orderType=$(this).data("val") || '';
              //do search
              reload();
         })

         //更多筛选
         $(".filter-more li:not(.ckb-item)").click(function(){
             $(this).siblings().removeClass("cur");
             $(this).addClass("cur");
         })

         //价格
         $(".price li").click(function(){
             $(this).siblings().removeClass("cur");
             $(this).addClass("cur");
             var v=$(this).data("val");
             if(v==''){
                 $("#lowprice").val('');
                 $("#topprice").val('');
             }
             else
             {
                $("#lowprice").val(v.split("-")[0]);
                 $("#topprice").val(v.split("-")[1]);
             }
         })
         $("#lowprice").bind('input propertychange', function() {
            $(".price li").removeClass("cur");
         });
         $("#topprice").bind('input propertychange', function() {
            $(".price li").removeClass("cur");
         });

         //更多筛选>隐藏多选项之不限
         $(".filter-more li.ckb-item").each(function(){
             if($(this).data("val")==""){
                    $(this).hide();
                 }
         })
         //更多筛选>多选项点击效果
         $(".filter-more li.ckb-item").click(function(){
                 if($(this).hasClass("cur")){
                    $(this).removeClass("cur");
                 }else{
                    $(this).addClass("cur");
                 }
         })

         $(".filter-more-btn .submit").click(function(){
              price=get_price();//$(".filter-more .price .cur").data("val") || '';
              except=get_except(); //$(".filter-more .except .cur").data("val") || '';
              //orderType=$(".filter-more .order .cur").data("val") || '';
              cat=$(".filter-more .cat .cur").data("val") || '';
              yuyi=$(".filter-more .yuyi .cur").data("val") || '';
              moreNumber=$(".filter-more .moreNumber .cur").data("val") || '';
              hideAllFilterItem();
              //do search
              reload();
         })

         function get_except(){
            var t="";
            $(".filter-more .except .cur").each(function(){
                t+=$(this).data("val")+"|";
            });
            return t;
        }

        function get_price(){
            var p1=$("#lowprice").val();
            var p2=$("#topprice").val();
            var t1=parseInt(p1,10);
            var t2=parseInt(p2,10);
            if(isNaN(t1)) t1=0;
            if(isNaN(t2)) t2=0;
            return t1+"-"+t2;
        }

         $(".filter-more-btn .reset").click(function(){
             $(".filter-more li").removeClass("cur");
             $("#lowprice").val("");$("#topprice").val("");
             price='';
             except='';
             orderType='';
             cat='';
             yuyi='';
             moreNumber='';
             hideAllFilterItem();
             //do search
             reload();
         })
         /*action*/

         /*function*/

         function so2() {
             var url = '/webapp/m-list.aspx?cat=' + cat + '&company=' + company + '&frontNumber=' + frontNumber + '&features=' + features + '&repeatNumber=' + repeatNumber + '&moreNumber=' + moreNumber + '&month=' + month + '&except=' + except + '&price=' + price + '&city=' + city + '&type=' + type + '&pos=' + pos + '&keyword=' + keyword + '&page=' + curpage + '&islease=' + islease + '&o=' + orderType+ '&yy=' + yuyi + '&mid=' + mid;
             location.href = url;
         }

         function so() {
             $(".loading").css("display", "flex");
            var url = '/webapp/m-list-pager.aspx?cat='+cat+'&company=' + company + '&frontNumber=' + frontNumber + '&features=' + features + '&repeatNumber=' + repeatNumber + '&moreNumber=' + moreNumber + '&month=' + month + '&except=' + except + '&price=' + price + '&city=' + city + '&type=' + type + '&pos=' + pos + '&keyword=' + keyword + '&page='+ curpage + '&islease=' + islease + '&o=' + orderType+ '&yy=' + yuyi + '&mid=' + mid;
            $.get(url, function (result) {
                if (result == '') {
                    if (curpage == 1) {
                        $(".noresult").show();
                    } else {
                        $(".loadmore").html('没有了');
                    }
                }
                else {
                    result=SetMobileStyle_(2,result);
                    $("#data").append(result);
                    if (curpage == 1) {
                        $("#hasresult").show();
                        if ($("#hasresult ul li").length % 40 == 0) { $(".loadmore").show();}
                    }
                }
                $(".loading").css("display", "none");
            });
        }

        $(".loadmore").click(function () {
            curpage=curpage+1;
            so();
        });

        function reload() {
            $("#hasresult").hide();
            $(".noresult").hide();
            $("#data li").remove();
            $(".loadmore").show();//2020.4.16 hide 临时改为 show,兼容下拉
            curpage = 1;
            so();
        }

        reload();

          function substr(str, start, stop, dot) {
              var re= str.substring(start, stop);
              if(dot){
                if (str.length-1 > stop - 1) {
                      re=re.substring(0,re.length-1)+'..';//减少一个字再加...
                  }
              }
              return re;
          }
          /*function*/

          $(window).scroll(function () {
              var scrollTop = $(this).scrollTop();
              var scrollHeight = $(document).height();
              var windowHeight = $(this).height();
              if (scrollTop + windowHeight == scrollHeight && scrollTop>0) {
                  $(".loadmore").click();
              }
              if (scrollTop > 200) { $(".gotop").show(); } else { $(".gotop").hide(); }
          });

          $(".gotop").click(function () {
              document.documentElement.scrollTop = document.body.scrollTop = 0;
          })



          function showKwSection() { $(".kw-section").show(); $(".kw-section .alt-tabs-head:first-child").click(); $(".kw-section .kw1 input[type=number]").focus(); }
          function hideKwSection() { $(".kw-section").hide(); }

          //SetMobileStyle(1);

          function so_kw_tab(t){
            if(t==2){
                $(".so-kw-type").html("精确");
                $(".so-kw-input").hide();
                $("#searchNum").show();
            }
            else{
                $(".so-kw-type").html("模糊");
                $("#searchNum").hide();
                $(".so-kw-input").show();
            }
          }

          $(".so-kw-type").click(function(){
                var t=$(this).html();
                if(t=="模糊"){
                    so_kw_tab(2);
                }else{
                    so_kw_tab(1);
                }
          });</script>
    <script type="text/javascript" src="./得时靓号网_files/swiper.min.js"></script>
    <script type="text/javascript">var swiper = new Swiper('.slide-box', {
            pagination: '.dottedNav',
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: 3500,
            loop: true,
            autoplayDisableOnInteraction: false
        });

        var swiper = new Swiper('.slide-box2', {
            pagination: '.dottedNav',
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: 0,
            loop: false,
            autoplayDisableOnInteraction: false
        });

        var swiper = new Swiper('.slide-box3', {
            direction: 'vertical',
            autoplay: 1500,
            loop: true,
            spaceBetween: 0,
            centeredSlides: true,
            autoplayDisableOnInteraction: false
        });</script>
    <div style="position: static; width: 0px; height: 0px; border: none; padding: 0px; margin: 0px;"><div id="trans-tooltip"><div id="tip-left-top" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-left-top.png&quot;);"></div><div id="tip-top" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-top.png&quot;) repeat-x;"></div><div id="tip-right-top" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-right-top.png&quot;);"></div><div id="tip-right" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-right.png&quot;) repeat-y;"></div><div id="tip-right-bottom" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-right-bottom.png&quot;);"></div><div id="tip-bottom" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-bottom.png&quot;) repeat-x;"></div><div id="tip-left-bottom" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-left-bottom.png&quot;);"></div><div id="tip-left" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-left.png&quot;);"></div><div id="trans-content"></div></div><div id="tip-arrow-bottom" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-arrow-bottom.png&quot;);"></div><div id="tip-arrow-top" style="background: url(&quot;chrome-extension://ikkepelhgbcgmhhmcmpfkjmchccjblkd/imgs/map/tip-arrow-top.png&quot;);"></div></div>
</body>
</html>