
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/public/static/img/favicon.ico">
    <title>号运来靓号网</title>
    <link rel="stylesheet" href="/public/static/css/fill.css">
    <link href="/public/static/css/wk.css" rel="stylesheet">
    <style>
        .app {
            max-width: 650px;
            margin: 0 auto;
            padding: 15px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-image: url('/public/static/img/2020/lhbg.png');
        }

        .top-logo {
            border-radius: 5px !important;
            margin-bottom: 15px !important;
            height: 65px;
        }

        .n-title {
            border-bottom: none !important;
            line-height: 2.0rem !important;
            color: #555252 !important;
        }

        .fill-text {
            border-radius: 5px;
            background-color: #fff;
            margin: 15px 0;
        }

            .fill-text h2 {
                display: block;
                border-bottom: none !important;
                font-size: 0.95rem !important;
                padding-left: 10px !important;
                color: #6a6767 !important;
                font-weight: 600 !important;
            }

        .apply2 {
            background-color: #fff;
            border-radius: 5px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 0;
        }
    </style>
    <!-- Bytedance Tracking -->
    <script>
        var baseUrl = '';
        (function (r, d, s, l) {
            var meteor = r.meteor = r.meteor || []; meteor.methods = ["track", "off", "on"]; meteor.factory = function (method) {
                return function () {
                    var args = Array.prototype.slice.call(arguments); args.unshift(method); meteor.push(args); return meteor
                }
            }; for (var i = 0; i < meteor.methods.length; i++) {
                var key = meteor.methods[i]; meteor[key] = meteor.factory(key)
            } meteor.load = function () {
                var js, fjs = d.getElementsByTagName(s)[0]; js = d.createElement(s);
                js.src = "https://analytics.snssdk.com/meteor.js/v1/" + l + "/sdk"; fjs.parentNode.insertBefore(js, fjs)
            }; meteor.load(); if (meteor.invoked) { return }
            meteor.invoked = true; meteor.track("pageview")
        })(window, document, "script", "1664007157743627");
    </script>
    <!-- End Bytedance Tracking -->
</head>
<body style="height: auto;">
    <div id="app" class="app">
        <section class="fill-wrapper" id="formse" style="background-color: transparent;margin-bottom: 60px;">
            <div class="fill">
                <ul class="fill-list top-logo">
                    <li>
                        <div style="background-color: #fff;border-radius:5px;padding-top: 8px;">
                            <span style="color: #dd1616;font-size: 26px;">18566637717</span>
                        </div>
                    </li>
                </ul>
                <div style="background-color: #fff;border-radius:5px;padding-top: 8px;">
                    <h2 class="n-title">靓号原价 <span style="font-size: 14px;color: #999;padding-left: 8px;text-decoration: line-through;">￥1888.00</span></h2>
                    <h2 class="n-title">靓号售价 <span style="font-size: 14px;color: #dd2737;padding-left: 8px;">￥1088.00</span></h2>
                    <h2 class="n-title">归属地 <span style="font-size: 11px;color: #867979;padding-left: 8px;">临沂</span></h2>
                    <h2 class="n-title">网络  <span style="font-size: 11px;color: #867979;padding-left: 8px;">移动网络</span></h2>
                    <h2 class="n-title">套餐<span style="font-size: 11px;color: #867979;padding-left: 8px;">（内含话费￥200.00）</span></h2>

                </div>

                <input id="exn" name="exn" type="hidden" value="bd01005">
                <input id="num" name="num" type="hidden" value="18566637717">

                <div class="fill-text">
                    <h2><span style="color: #f00;">| </span>根据国家实名制要求, 请准确提供身份证信息</h2>
                    <ul class="fill-list">
                        <li id="apply-name">
                            <div class="p-title">姓名</div>
                            <div class="p-content">
                                <input id="certName" type="text" title="姓名" placeholder="请输入身份证件姓名" maxlength="20">
                            </div>
                        </li>
                        <li id="apply-id">
                            <div class="p-title">身份证</div>
                            <div class="p-content ">
                                <input id="certNo" type="text" title="身份证" placeholder="请输入身份证号" maxlength="18">
                                <i class="errorI"></i>
                            </div>
                        </li>
                        <li id="apply-phone">
                            <div class="p-title">联系电话</div>
                            <div class="p-content ">
                                <input id="mobilePhone" type="tel" title="联系电话" placeholder="请输入联系电话" maxlength="11">
                                <span class="yzm grey" id="captcha">获取验证码</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="fill-text">
                    <h2><span style="color: #f00;">| </span>请填写配送地址</h2>
                    <ul class="fill-list">
                        <li id="delivery">
                            <div class="p-title">所在地区</div>
                            <div class="p-content p-select grey" id="address_2">请选择区/县</div>
                        </li>
                        <li class="delivery" id="delivery-desc">
                            <div class="p-content p-text-area">
                                <p class="text-temp" id="address-temp"></p>
                                <textarea id="address" class="text-area" name="address" rows="1" title="delivery-desc" placeholder="街道/镇+村/小区/写字楼+门牌号"></textarea>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="apply apply2">
            <div class="protocol-div">
                <div class="btn-box" style="margin: 10px;width: 90%;padding-left: 2.5%;">
                    <a style="background-color: #e54c3f;border-radius:20px;" id="submit" href="javascript:;" class="btn">提交订单，免费送卡上门</a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>